/*  your css code here. If applicable */
h1, h2 {
	text-align:center;
}
li {
	list-style-type:none;
	padding:5px;
}
a {
	text-decoration:none;
}
.playlist {
	background-color: rgb(204, 204, 204);
	text-align:center;
	height:800px;
	margin-top:50px;
	padding:10px;
	margin:auto;
	
}
.list {
	border:1px solid black;
	background-color: rgb(255, 255, 255);
	width:400px;
	margin:auto;
	border-radius:10px;
	text-align:left;
	padding:10px;
	text-decoration-line: none;
}
.player {
	border:1px solid black;
	background-color: rgb(255, 255, 255);
	width:400px;
	margin:auto;
	border-radius:10px;
	text-align:center;
	padding:10px;
}


